@import "mapbox-gl/dist/mapbox-gl.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.nav-button {
  /* background-color: grey; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#SoClub {
  font-family: "Jersey 15 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

#heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
#heading-event {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
